{% extends 'base.html' %}
{% load static %}

{% block content %}

    <h4 class="mt-3">Home Page</h4>

    <div class='row d-flex align-items-center'>
        <div class="col-1">
            <button class='btn' id="leftArrow"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
        </div>
        <div class="glide mt-3 col-10">
        <div class="glide__track" data-glide-el="track">
            <ul class="glide__slides">
                {% for account in accounts %}
                    <li class="glide__slide">
                        {% if account.bank_name == 'SA' %}
                                <img src="{% static 'images/cards/santanderCard.png' %}" width='300' height='150' id='card-img'>
                        {% elif account.bank_name == 'NU' %}
                                <img src="{% static 'images/cards/nuCard.png' %}" width='300' height='150' id='card-img'>
                        {% elif account.bank_name == 'MV' %}
                                <img src="{% static 'images/cards/ticketCard.png' %}" width='300' height='150' id='card-img'>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
        </div>
        <div class="col-1">
            <button class='btn shaddow-none' id="rightArrow"><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
        </div>
    </div>

    <div class="bullets">
        <svg><circle /></svg>
    </div>

    <!-- Main js for glider -->
    <script src="{% static 'js/main_glide.js' %}"></script>
{% endblock content %}