{% extends 'base.html' %}
{% load static %}
{% load util %}

{% block content %}

{% if accounts %}

<div class='row d-flex align-items-center'>
    <div class="col-1">
        <button class='btn' id="leftArrow">
            <img src="{% static 'images/icons/left-arrow.png' %}" width="16px" height="30px">
        </button>
    </div>
    <div class="glide mt-3 col-10">
        <div class="glide__track" data-glide-el="track">
            <ul class="glide__slides">
                {% for account in accounts %}
                <li class="glide__slide">
                    {% if account.bank_name == 'SA' %}
                    <a href="#">
                        <img src="{% static 'images/cards/santanderCard.png' %}" width='90%' id='card-img'
                            alt='santanderCard' data-pk='{{ account.pk }}'>
                    </a>
                    {% elif account.bank_name == 'NU' %}
                    <a href="#">
                        <img src="{% static 'images/cards/nuCard.png' %}" width='90%' id='card-img' alt='nuCard'
                            data-pk='{{ account.pk }}'>
                    </a>
                    {% elif account.bank_name == 'MV' %}
                    <a href="#">
                        <img src="{% static 'images/cards/ticketCard.png' %}" width='90%' id='card-img' alt='ticketCard'
                            data-pk='{{ account.pk }}'>
                    </a>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="col-1">
        <button class='btn' id="rightArrow">
            <img src="{% static 'images/icons/right-arrow.png' %}" width="16px" height="30px">
        </button>
    </div>
</div>


{% for account in accounts %}
<section class="content account_info mt-3" data-pk='{{ account.pk }}'>
    <div class='row d-md-flex justify-content-md-start d-flex justify-content-center'>
        <div class='col-md-3 w-50 p-2'>
            <h4 class='border-bottom mb-3 d-flex justify-content-between align-items-center' id='toggler'>
                Account info
                <button class="btn btn-outline-light" id='toggler'>
                    <i class="fa fa-caret-down text-dark" id='caretIcon' aria-hidden="true"></i>
                </button>
            </h4>
            <div class="mb-3">
                <h5 class='info-label'>Balance</h5>
                <h6 class="ml-5">
                    R$
                    {{ account.balance|to_str|slice:":-2" }},{{ account.balance|to_str|slice:"-2:" }}
                </h6>
            </div>
            <div class="mb-3 div-collapse-sm" id='infoCollapse'>
                <h5 class='info-label'>Account name</h5>
                <h6 class='ml-5'>
                    {{ account.name }}
                </h6>
            </div>
        </div>
        <div class='col-md-9 d-flex justify-content-start justify-content-md-center mt-md-0 mt-3'>
            <div class="list-group border-top-0 border-right-0 border-left-0 w-100">
                {% for product in products %}
                {% if product.account.pk == account.pk %}
                <div class="list-group-item">
                    <div class="border-bottom">
                        <h5 class='info-label ml-md-4'>Product Name:</h5>
                        <h7 class='ml-md-5 ml-sm-4'>{{ product.name }}</h7>
                    </div>
                    <div class='mt-2'>
                        <h5 class='info-label ml-md-4'>Price:</h5>
                        <h7 class='ml-md-5 ml-sm-4'>
                            R$
                            {{ product.price|to_str|slice:":-2" }},{{ product.price|to_str|slice:"-2:" }}
                        </h7>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
</section>
{% endfor %}

<!-- Main js for home -->
<script src="{% static 'js/main_home.js' %}"></script>
{% else %}
<div class="row d-flex justify-content-center">
    <h3><strong class="col-3">You don't Have any account</strong></h3>
</div>

{% endif %}
{% endblock content %}