{% load static %}
<!DOCTYPE HTML>

<html>
	<head>
        {% if title %}
            <title>My Money - {{ title }}</title>
        {% else %}
            <title>My Money</title>
        {% endif %}
		

		<meta charset='utf-8'>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CDN -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

		<!-- jQuery CDN -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

		<!-- Glide.js CSS and JS CDN -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.3.0/css/glide.core.min.css" integrity="sha256-Ev8y2mML/gGa4LFVZgNpMTjKwj34q4pC4DcseWeRb9w=" crossorigin="anonymous" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.3.0/css/glide.theme.min.css" integrity="sha256-sw/JiPOV1ZfcXjqBJT1vqaA4vBGeiqn+b7PDhVv4OA4=" crossorigin="anonymous"/>

		<!-- Cleave.js CDN -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/cleave.js/1.5.3/cleave.min.js" integrity="sha256-yx/X2dD86fWz9OyQ/ZnQH8BQaS5Ta4OuNJICU17rySE=" crossorigin="anonymous"></script>


		<!-- Fonts -->
		<!-- Nunito --> <link href="https://fonts.googleapis.com/css?family=Nunito:400,600&display=swap" rel="stylesheet">


		<link rel='stylesheet' href='{% static 'css/main.css' %}'>
        <!--

		<link rel='shortcut icon' href='{% static 'images/favicon.ico' %}' type='image/x-icon'>

		<script type='text/javascript' src='{% static 'js/main_jquery.js' %}'></script>

        -->

	</head>
	<body>
		<header>
			<nav class='navbar navbar-expand-md navbar-dark nav-color' role='navigation' id='navMenu'>
				<div class='container'>
					<a class='navbar-brand ml-3' href='{% url 'home' %}'>
                        My Money
					</a>

					<button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarToggled' aria-controls='navbarToggled' aria-expanded='false'>
                        <i class="fa fa-bars" aria-hidden="true"></i>
					</button>

					<div class='collapse navbar-collapse' id='navbarToggled'>
						<ul class='navbar-nav ml-auto'>
							{% if user.is_authenticated %}
								<li class='nav-item'>
									<a class='nav-link' href='#'>Charts</a>
								</li>
								<li class='nav-item'>
									<a class='nav-link' href='{% url 'accounts' %}'>Accounts</a>
								</li>
								<li class='nav-item'>
									<a class='nav-link' href='{% url 'products' %}'>Products</a>
								</li>
								<li class='nav-item'>
									<a class='nav-link' href='#'>Profile</a>
								</li>
								<li class='nav-item'>
									<a class='nav-link' href='{% url 'logout' %}'>Logout</a>
								</li>

							{% else %}
								<li class="nav-item">
									<a href="{% url 'login' %}" class="nav-link">Login</a>
								</li>
								<li class="nav-item">
									<a href="{% url 'register' %}" class="nav-link">Sign Up</a>
								</li>
							{% endif %}

							<!-- Phone Navbar

							<li class='nav-item'>
								<a class='nav-link' href='#'><i class="fa fa-bar-chart fa-lg" aria-hidden="true"></i></a>
							</li>
							<li class='nav-item'>
								<a class='nav-link' href='#'><i class="fa fa-credit-card fa-lg" aria-hidden="true"></i></a>
							</li>
							<li class='nav-item'>
								<a class='nav-link' href='#'><i class="fa fa-user fa-lg" aria-hidden="true"></i></a>
							</li>
							-->
						</ul>
					</div>
			</nav>
		</header>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.3.0/glide.min.js" integrity="sha256-ujmfLA8r9ntmbatq60vOH954kngGJ5sMYn1LMq54Oto=" crossorigin="anonymous"></script>

		<div class="loader">
			<img src="{% static 'icons/loading.gif' %}">
		</div>
		<main role='main'>
			<div class='container mt-3 mb-xs-4'>
				{% block content %}
				{% endblock content %}
			</div>
		</main>

	<script src="{% static 'js/main.js' %}"></script>
  	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

	</body>
</html>
